<nav>
  <!-- <div class="menu2">
    <img src="./../../assets/menu.svg" alt="Barra Menù" (click)="show()" />
  </div> -->
  <div class="link show" id="menu">
    <a href="/">Home</a>
    <a href="ChiSiamo.html">Chi Siamo</a>
    <a href="Servizi.html">Servizi</a>
    <a href="Gallery.html">Gallery</a>
    <a href="Blog.html">Blog</a>
    <a href="Contatti.html">Contatti</a>
  </div>
</nav>
<div class="box">
  <div class="box logo">
    <img src="./../../assets/shopper_logo.png" />
  </div>
</div>
