<div class="big">
  <div class="box">
    <div class="gallery">
      <img *ngFor="let image of images; let i = index" [src]="image" [class.active]="i === currentIndex" (click)="setCurrentIndex(i)" />
      <button (click)="previous()" class="prev">
        <span class="menu-line"></span>
        <span class="menu-line"></span>
      </button>
      <button (click)="next()" class="next">
        <span class="menu-line"></span>
        <span class="menu-line"></span>
      </button>
    </div>
  </div>
  <div data-aos="fade-right" data-aos-duration="3000" class="pub">
      <img src="./../../../assets/Sacchetti1.jpg" alt="Sacchetti in plastica a Barletta">
      <div class="text">
        <h4>Sacchetti in plastica a Barletta</h4>
        <p>
          Bobine termoretraibili per realtà professionali
        </p>
        <p>
          Shoppers & Co costituisce un’alternativa seria ed affidabile per tutte le esigenze professionali relative
          alla realizzazione di sacchetti in plastica a Barletta. L’attività, forte dell’esperienza decennale dei suoi fondatori,
           è a totale disposizione della clientela per fornire le migliori soluzioni in fatto di imballaggi flessibili e plastificati,
           particolarmente indirizzati a ditte presenti sul territorio regionale e nazionale. Per questo motivo, Shoppers & Co si configura
           come un partner commerciale serio, puntuale e preciso, capace di creare le migliori condizioni necessarie alla nascita di
            collaborazioni lavorative durature e fondate sulla qualità dei servizi offerti. Nel novero delle figure cui si rivolge l’azienda,
            infatti, rientrano privati, clienti finali, grossisti, imprese e negozi.
        </p>
      </div>
  </div>
  <div data-aos="fade-left" data-aos-duration="3000" class="pub">

    <div class="text">
      <h4>Shoppers & Co: imballaggi flessibili e plastificati</h4>
      <p>
        Per produrre sacchetti in plastica a Barletta è necessario avere una grande esperienza: i professionisti che guidano
        l’opera di Shoppers & Co, infatti, possono vantare più di 40 anni di attività nel settore degli imballaggi flessibili.
        La produzione dell’azienda riguarda da sempre una vasta gamma di prodotti, i quali presentano una intrinseca utilità in svariati
        ambiti di mercato. Tra questi spiccano le bobine termoretraibili microforate e non, ma anche una larga scelta di sacchetti con
        manico interno personalizzabili, di colori e forme differenti, capaci di trovare il proprio contesto ideale in diversi ambienti
         commerciali. La produzione di imballaggi flessibili, inoltre, permette di agire a contatto con molteplici tipologie di imprese,
          consentendo altresì la nascita di partnership in grado di esprimere valori elevati e qualità.
      </p>

    </div>
    <img src="./../../../assets/pub2.jpg" alt="Sacchetti in plastica a Barletta">
  </div>

<div data-aos="zoom-in-up" data-aos-duration="3000" class="imb">
    <div class="text2">
      <h4>Imballaggi resistenti, bobine e sacchetti in plastica </h4>
      <p>
        Tra le opportunità offerte da Shoppers & Co alla clientela privata, commerciale ed industriale,
        rientra la produzione e progettazione di sacchetti in plastica a Barletta. Questi articoli trovano applicazione in una moltitudine
         di ambienti lavorativi, e rappresentano uno dei punti di forza dell’intera azienda. Oltre a ciò, i servizi offerti continuano con
          l’offerta di bobine adatte al confezionamento automatico e semiautomatico, prodotte su misura ed aderenti alle diverse esigenze
           del committente. Grazie a questi preziosi elementi sarà possibile conservare prodotti e cibi. Non è possibile dimenticare, poi,
            la vasta selezione di sacchetti prodotti in varietà, dimensioni e forme differenti, adatti a trovare una loro collocazione
            nelle attività commerciali più disparate, dai negozi di abbigliamento più esclusivi, ai punti vendita specializzati in calzature.
      </p>
    </div>
</div>
<div class="break">
  <h1>COSA FACCIAMO ?</h1>
</div>
<div data-aos="fade-right" data-aos-duration="1000" class="pub">
  <img src="./../../../assets/shopper-barletta.jpg" alt="Sacchetti in plastica a Barletta">
  <div class="text">
    <h4>Shoppers & Co: imballaggi flessibili e plastificati</h4>
    <p>
      Per produrre sacchetti in plastica a Barletta è necessario avere una grande esperienza: i professionisti che guidano
      l’opera di Shoppers & Co, infatti, possono vantare più di 40 anni di attività nel settore degli imballaggi flessibili.
      La produzione dell’azienda riguarda da sempre una vasta gamma di prodotti, i quali presentano una intrinseca utilità in svariati
      ambiti di mercato. Tra questi spiccano le bobine termoretraibili microforate e non, ma anche una larga scelta di sacchetti con
      manico interno personalizzabili, di colori e forme differenti, capaci di trovare il proprio contesto ideale in diversi ambienti
       commerciali. La produzione di imballaggi flessibili, inoltre, permette di agire a contatto con molteplici tipologie di imprese,
        consentendo altresì la nascita di partnership in grado di esprimere valori elevati e qualità.
    </p>

  </div>

</div>


</div>

